<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Access the Project</title>
</head>
<body>
    <a href="https://github.com/login/oauth/authorize?client_id=<%= githubClientId %>&scope=repo">Get Access from Github</a>
    
    
    <form action="" method="post">
        <label for="">Get Repo List</label>
        <button type="submit">Grant Access</button>
    </form>
</body>
</html>